*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-------------COLORES Y FUENTES---------*/


h1{
    color: white;
    font-size: 50px;
}
.navbarPage > div > a{
    color:white;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
}
h1, .navbarpage{
    font-family:;
}
.tablehead{
    font-family: ;
}


/*-----------------ESTRUCTURA-------------*/

header{
    border: 2px solid black;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(27, 32, 26);
}
    .pageTitle{
        margin-left: 50px;
    }
    .navbarPage{
        background: linear-gradient(to right, green 60%, rgb(161, 194, 161));
        border-top: 1px solid rgb(195, 238, 195);
        height: 50px;
        display: flex;
        align-items: center;
    }
        .navbarPage > div > a{
            margin-left: 50px;
        }


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: 800px;
}
    .navbarTables{
        border-bottom: 2px solid rgb(0, 0, 70);
        width: 70%;
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
        .navbarTables > div{
            margin-right: 20px;
        }

.tablediv{
    border: 3px solid grey;
    width: 60%;
    height: 457px;
    display: flex;
    flex-direction: column;
}
    
/*------------------TABLAS------------------*/


/*--EN COMUN--*/

table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
.tablehead{
    border-bottom: 2px solid grey;
    background-color: rgb(216, 210, 210);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
.tabledivint{
    overflow:scroll;
    height: 390px;
}

/*--TABLA RESULTADOS--*/


.table_resultados > tbody > tr > td:nth-child(3), tbody > tr > td:nth-child(1){
    text-align: center;
}
.table_resultados > tbody > tr > td:nth-child(2){
    text-align: right;
}
.table_resultados > tbody > tr > td:nth-child(4){
    text-align: left;
}
.table_resultados tbody > tr {
    height: 60px;
    border-bottom: 1px solid rgb(214, 213, 213);
}
.table_resultados > tbody > tr > td:nth-child(1){
    width: 180px;
    background-color: rgba(198, 223, 198, 0.671);
}


/*--TABLA CLASIFICACIÓN*/

.tablehead_clasificacion, .tablehead_div_info_head{
    display: flex;
    flex-direction: row;
}

.td_icons{
    display: flex;
}
.icons{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 3px;
}

.tablehead_clasificacion{
    border-bottom: 1px solid grey;
    justify-content:space-between;
}