*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------LETRAS---------------*/

body{
    font-family: sans-serif;
}
h1, h2{
    color: white;
}
h1{
    font-size: 50px;
}
h1, h2{
    margin-left: 20px;
}
a{
    text-decoration: none;
}


/*--------------NAVEGACIÓN------------*/

header{
    border: 2px solid black;
    height: 140px;
    background-color: rgb(27, 32, 26);
    width: 100%;
}
main{
    background: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,1) 60%), url("../img/background.jpg");
    background-size:cover;
    height: 850px;
}
.mainHome_links_div{
    justify-content: space-around;
    height: 650px;
    margin-top: 100px;
}
.imgHomeLink{
    box-shadow: 10px 15px 10px grey;
}
.divLink:hover{
    transform: scale(1.05);
}
.laliga_logo{
    width: 100px;
}
.navbar{
    background: linear-gradient(to right, rgb(27, 32, 26) 60%, rgba(0, 199, 90, 0.74));
}
.tableslinks > li > a{
    color: black;
}
.nav{
    margin:60px auto 40px auto;
}
.nav-item{
    margin-left: 1px;
}
form{
    height: 60px;
    margin:50px auto 20px auto;
}
.radiodiv{
    min-width: fit-content;
}
.divTeams{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    margin-top: 80px;
}
.divTeams >a > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divTeams >a > div:hover{
transform: scale(1.15);
}

.divTeams > a:nth-child(-n+21){
    color: rgb(15, 15, 15);
}
.divTeams > a:nth-child(-n+16){
    color: rgb(59, 59, 59);
}
.divTeams > a:nth-child(-n+10){
    color: rgb(99, 99, 99);
}
.divTeams > a > div > img{
    width: 80px;
    margin-bottom: 20px;
}


/*----------------TABLAS--------------*/

.tablehead{
    width: 100%;
}
.tabledivint{
    width: 100%;
    max-height: 475px;
    overflow: scroll;
    overflow-x:auto;
    box-shadow: 5px 10px 20px rgb(71, 71, 71);
}
.divtwotables > .tablediv{
    /* width: 40%; */
    margin-right: 50px;
}
.divtwotables > .tablediv > .tabledivint{
    height: 400px;
    overflow: hidden;
}


th{
    position: sticky; 
    top: 0;
}
table{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.507);
}
.tableclasif{
    width: 1275px;
}
.tablehead > p, .tableclasif > tbody .tableestadistica > tbody{
    font-size: 18px;
}
.tableclasif > tbody > tr > td:nth-child(2), .tableestadistica > tbody > tr > td:nth-child(2){
    text-align: left;
}
.tableresult > tbody > tr > td:nth-child(1), .tableresult > tbody > tr > td:nth-child(5){
    width: 20%;
    background-color: rgba(83, 83, 83, 0.308);
}
.tableresult > tbody > tr > td:nth-child(3){
    text-align: center;
    font-size: 20px;
    width: 7%;
}
.tableresult > tbody > tr > td:nth-child(2){
    text-align: right;
    font-size: 18px;
    width: 26%;
}
.tableresult > tbody > tr > td:nth-child(4){
    text-align: left;
    font-size: 18px;
    width: 26%;
}

.legend{
    display: flex;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    background-color: rgba(255, 255, 255, 0.781);
    border-top: 2px solid black;
    box-shadow: 5px 10px 20px rgb(71, 71, 71);
    z-index: 1;
}
.legend > p{
    margin-right: 20px;
}
.legend > div{
    margin-right: 10px;
}



/*--------------IMÁGENES--------------*/

.icons, .legend >div > img{
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
.imgTeam{
    width: 40px;
}


#loaderimg, #loaderimg1{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    animation: rotation 1s infinite linear;
    display: none;
}

#loaderimg.display, #loaderimg1.display{
    display: block;
}
#loaderteams{
    
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


/*--------------MEDIAQUERIES------------*/

@media (max-width: 990px){

    h1{
        font-size: 35px;
    }
    .tablehead > p{
        font-size: 13px;    
    }
    table{
        font-size: 13px;
    }
    .tableresult > tbody > tr > td:nth-child(3){
        font-size: 15px;
        width: 10px;
    }
    .divtwotables{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divtwotables > .tablediv{
        width: 90%;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    header{
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar{
        width: 100%;
    }
    .form-text{
        display: none;
    }
    .radiodiv > label, .formbutton, #searchText{
        padding: 0;
    }
    .radiodiv{
        padding-left: 1rem;
    }
    .tableclasif > tbody > tr > td:nth-child(2){
        width: 16%;
    }

    .tableresult > thead > tr > th:nth-child(1),
    .tableresult > thead > tr > th:nth-child(5),
    .tableresult > tbody > tr > td:nth-child(1),
    .tableresult > tbody > tr > td:nth-child(5){
        display: none;
    }
    
    .icons, .legend >div > img{
        width: 15px;
        height: 15px;
        margin-right: 1px;
    }
}


@media (max-width: 576px){

    form{
        height: 100px;
        margin:20px auto 20px auto;
        flex-direction: column;
        align-content: flex-start;
    }
    .formcontroldiv, .formbuttondiv, .formbutton{
        width: 50%;
    }
    .radiodivgroup{
        width: 100%;
    }
    .radiodiv{
        padding: 0;
    }
    .tableresult > tbody > tr > td:nth-child(2), .tableresult > tbody > tr > td:nth-child(4){
        font-size: 13px;
    }
}


@media (max-width: 376px){

    .pageTitle{
        margin-top: 15px;
    }
    .nav-item{
        font-size: 13px;
    }
    .tablehead > p{
        width: 100%;
    }
    main{
        height: 100%;
    }
    .divtwotables > .tablediv > .tabledivint{
        height: 300px;
        overflow: scroll;
        overflow-y: hidden;
    }
    .mainHome_links_div{
        height: 550px;
        display: flex;
        justify-content: space-between;
    }
    .mainHome_links_div > div{
        flex-direction: column;
        align-items: center;
    }
    .divLink{
        width: 80%;
    }
    .divTwoLink > div{
        margin-bottom: 50px;
    }
    .tableestadistica{
        width: 600px;
    }
    .tableresult > tbody > tr > td:nth-child(3){
        width: 8%;
        font-size: 15px;
        padding: 0;
    }
    .imgTeam{
        width: 25px;
    }

    .legend{
        display: none;
    }
    .divTeams{
        width: 100%;
    }
    .divTeams{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    margin-top: 80px;
    }
    .divTeams >a > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divTeams >a > div:hover{
    transform: scale(1.15);
    }

    .divTeams > a:nth-child(-n+21){
        color: rgb(15, 15, 15);
    }
    .divTeams > a:nth-child(-n+16){
        color: rgb(59, 59, 59);
    }
    .divTeams > a:nth-child(-n+10){
        color: rgb(99, 99, 99);
    }
    .divTeams > a > div > img{
        width: 80px;
        margin-bottom: 20px;
    }

    .divTeams{
        grid-template-columns: repeat(2, 1fr);
    }
    .divTeams >a > div{
        font-size: 16px;
    }

    .divTeams > a > div > img{
        width: 80px;
    }

}